<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form class="form" ng-controller="TodoController as toDo">
        <h1>TODO List</h1>
        <section class="greeting">A place to store the things you have to do!</section>
        <input class="filter" type="text" placeholder="Filter your to-dos" ng-model="filterText">

        <section>
            <ol>
                <li ng-repeat="item in toDo.list | filter: filterText track by $index " ng-class="{firstClass: item.completed} ">
                    <button type="button " class="complete" ng-if="item.completed === false" ng-click="toDo.completeTask($index)">Complete</button> {{item.task}}
                    <button type=" button " class="material-icons " ng-click="toDo.removeTask($index); ">close</button>
                </li>

            </ol>
        </section>

        <input type="text " ng-model="task " placeholder="Add to your to do ">
        <button ng-click="toDo.addTask(task); " class="add " type="button ">Add</button>
    </form>

    <script src="https://code.angularjs.org/1.6.5/angular.min.js "></script>
    <script src="module.js "></script>
    <script src="ctrl.js "></script>
</body>

</html>